.play-area {
  height: 50%;
  position: relative;
}

.card-display {
  position: relative;
  width: 80px;
}

.card-display.computer {
  position: absolute;
  top: calc(33% - 40px);
  z-index: 105;
  left: calc(33% - 40px);
}

.card-display.user {
  position: absolute;
  top: calc(66% - 40px);
  z-index: 105;
  right: calc(33% - 40px);
}

.extra-card {
  height: 40px;
  width: 40px;
  background-color: #ECF3FF;
  border-radius: 50%;
  float: left;
}

.user .extra-card {
  float: right;
}

.extra-cards {
  position: absolute;
  width: 350%;
}

.computer > .extra-cards {
  top: calc(33% - 20px);
  left: calc(33% + 60px);
}

.user > .extra-cards {
  top: calc(66% - 20px);
  right: calc(33% + 60px);
}