@keyframes cardWinner {
  from {
    background-color: #FD81AA;
    border: -2px solid #FFFFFF;
  }

  to {
    background-color: #ECF3FF;
    border: 0;
  }
}

.strength-circle {
  background-color: #ECF3FF;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.strength-circle.winner {
  animation-name: cardWinner;
  animation-duration: 1.5s;
}

.strength-text {
  margin: 0;
  line-height: 80px;
  font-family: 'Oswald', sans-serif;
  color: #164038;
}

.label-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 80px;
  line-height: 80px;
  color: #164038;
  opacity: 0.5;
}