.App {
  text-align: center;
}

.play-space {
  height: 75vh;
  background-color: #556AD3;
  position: relative;
  overflow: hidden;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 960px) {
  .play-space {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .play-space {
    width: 340px;
  }
}

.row-12 {
  max-width: 100%;
  padding: 0;
  margin: 0;
  min-height: 1px;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  float: left;
  min-height: 1px;
}

.column-1 {
  width: 8.3%;
}

.column-2 {
  width: 16.6%;
}

.column-3 {
  width: 25%;
}

.column-4 {
  width: 33%;
}

.column-5 {
  width: 41.6%;
}

.column-6 {
  width: 50%;
}

.column-7 {
  width: 58.3%;
}

.column-8 {
  width: 66.6%;
}

.column-9 {
  width: 66.6%;
}

.column-10 {
  width: 83.3%;
}

.clearfix {
  clear: both;
}

@media (max-width: 960px) {
  .mob-non {
    width: 0;
    height: 0;
    display: none;
    position: absolute;
  }

  .mob-8 {
    width: 66.6%;
  }
}
